<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Pedidos</h1>
        {% if orders %}
            <ul class="list-group">
                {% for order in orders %}
                <li class="list-group-item">
                    <strong>Pedido ID:</strong> {{ order.order_id }}<br>
                    <strong>Número de Pedido:</strong> {{ order.order_number }}<br>
                    <strong>Fecha del Pedido:</strong> {{ order.order_date.strftime("%d/%m/%Y %H:%M:%S") }}<br>
                    <strong>Total:</strong> ${{ order.total_amount }}<br>
                    <strong>Estado:</strong> {{ order.status.status_name }}<br>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay pedidos para mostrar.</p>
        {% endif %}
        <a href="{{ url_for('carta') }}" class="btn btn-primary mt-3">Volver al Menú</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
